#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > div.row {
    display: flex;
    flex-direction: row;
    background-color: rgb(94, 157, 252);
}

#container > div.row > div.column {
    border: 1px solid black;
    padding: 1em;
}