* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 90wh;
}

#container {
    max-width: 960px;
    max-height: 960px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d4eef5;
}

#container>div.row {
    flex: auto;
    display: flex;
    flex-direction: row;
}

#container>div.row>div.column {
    flex: auto;
    border: 1px solid rgb(129, 120, 120);
}

.highlight {
    background-color: rgb(26, 40, 41);
}

#options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
    column-gap: 20px;
    max-width: 960px;
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin: 15px 0;
}

.input {
    height: 80%;
    width: auto;
    font-size: medium;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.55em;
    height: 95%;
    padding: 0 15px;
    box-shadow: 2px 2px 2px gray;
}

form {
    font-size: 0.55em;
}

form > label#label {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}